body{
	padding: 0;
	margin: 0;
}
.pageContent{
	width: 100%;
	height: 800px;
	position: relative;
}
.space{
	width: 100%;
	height: 650px;
	position: absolute;
	margin-top: 150px;
}
.content{
	width: 40%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, .5); 
	background: inherit;
	overflow: hidden;
}