body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
.teamSectionMembers{
	height: 750px;
	width: 100%;
	position: relative;
}
.teamSectionMembers .teamTitle,.aboutUniSection .aboutTitle{
	font-size: 350%;
	margin: 70px;
	width: 100%;
	height: 40px;
	text-shadow: 1px 2px 1px rgba(23,64,163,1.00);
}
.divSpace{
	width: 350px;
	height: 100%;
	display: inline-block;
}
.firstTeamRow,.secondTeamRow{
	width: 100%;
	height: 250px;
	margin: 0px 100px;
}
.secondTeamRow{
	margin-top: 100px;
}
.firstDoctor{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
}
.firstDoctor img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
}
.doctorInfo{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: gray;
	position: absolute;
	text-align: center;
	top: 0;
	display: none;
}
.doctorInfo span{
	font-size: 150%;
	line-height: 3;
	color: white;
	position: relative;
	top: 50px;
}
.missionTitle,.historyTitle,.organizationTitle{
	font-size: 200%;
	margin: 0px 150px;
	text-shadow: 1px 1px 1px black;
	text-decoration: underline;
}
.missionOfUni,.organizationOfUni{
	width: 100%;
	position: relative;
	height: 400px;
}
.historyOfUni{
	width: 100%;
	position: relative;
	height: 500px;
}
.description{
	width: 50%;
	font-size: 150%;
	margin-top: 50px;
	display: inline-block;
	height: 100%;
}
.missionDescription,.organizationDescription{
	margin-left: 250px;
}
.missonPart,.historyPart,.organizationPart{
	width: 100%;
	position: relative;
	height: 350px;
}
.uniImage{
	display: inline-block;
	position: absolute;
}
.uniImage1,.uniImage3{
	right: 50px;
}
.uniImage2{
	left: 250px;
	top: 50px;
}
.historyDescription{
	position: absolute;
	right: 50px;
	top: 40px;
}