body{
	margin: 0;
	padding: 0;
}
.pageContent{
	width: 100%;
	height: 720px;
	position: relative;
}
select{
	width: 57%;
	padding: 12px;
	border-radius: 50px;
	margin-left: 2.3%;
}
.space{
	width: 100%;
	height: 530px;
	position: absolute;
	margin-top: 150px;
}
.sticky nav{
	top: 0px;
    background-color: rgba(0,0,0,0.8);
    height: 100px;
	width: 100%;
}
.content{
	width: 40%;
	height: 520px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5); 
	background: inherit;
	overflow: hidden;
}