.marksTable {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-collapse: collapse;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#pieChart{
	margin-left: auto;
	margin-right: auto;
}
.chartContainer{
	width: 86%;
	height: 450px;
}
.pieText{
	text-align: center;
	font-size: 35px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}